FORMAT: 1A
HOST: https://app.metry.io/api/2.0/

# Metry API v2
Metry collects consumption data from **subscribed meters** managed by utilities, as well as **local meters** managed by organizations or people.
Developers can access this data to build apps that **help people and organizations save energy**. Or just something that makes energy usage a little bit more exciting.

## Getting started

Copy the link below into a new tab in your <a href="https://app.metry.io/api/v2/accounts/me?access_token=9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e" target=_blank>web browser</a>

    https://app.metry.io/api/v2/accounts/me?access_token=9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

<h3>So, what happened here?</h3>
You just made a request to our API and **requested basic information** about the authenticated user!

<h3>What about the energy consumption?</h3>
To fetch the energy consumption, we first need to see what meters the user has:

    https://app.metry.io/api/v2/meters?access_token=9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

And to see the **consumption for 2015**, you just type...

    https://app.metry.io/api/v2/consumptions/5824790e3d214b006271c515/month/2015?access_token=9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

That's it! Now you have a basic understanding of how our API works. Just scroll down to dig into the details! 
If you need help during your development process you're more than welcome to contact us at [support@metry.io](mailto:support@metry.io).

### Good to know

* API endpoint: https://app.metry.io/api/v2/
* Version numbers may be updated in the future, older versions will be supported for a period of time.
* All API traffic must be made over SSL (https://)

## API Authentication

The Metry API requires authentication - specifically requests made on behalf of a user. 
Authenticated requests require an access_token. These tokens are unique to a user and should be stored securely. 

There are two methods to authenticate to the API:
* **Private Access Token Authentication.** Used for single user authentication.
* **OAuth2 Authentication.** Used for app developers that allow many Metry accounts.

### Private access tokens
Private access-tokens are used to access data for your own account, and should never be
shared with anyone else. You can access your private access token in the Metry Portal ([https://app.metry.io](https://app.metry.io)).

You **should** pass the access token in an Authorization-header

    Authorization: Bearer <access-token>

You can also pass the access-token in the URL (but this is not recommended for security reasons)

    https://app.metry.io/api/v2/accounts/me?access_token=<access-token>


### OAuth2 Authentication

The Metry API uses the standard OAuth 2.0 protocol for simple, but effective authentication and authorization to third parties.

As an app developer, you should direct your users to login with Metry and grant access to your app. This will give you the users `refresh_token`, which should be used to request the `access_token`.
The refresh token should be stored on your end with the same security in mind as a password. The `access_token` itself will expire after 1 hour at which point the `refresh_token` should be used to fetch a new `access_token`, just as any other OAuth2 implementation.

### Metry OAuth Connect
To make this implementation as smooth as possible, we've created a javascript library to connect the user. This will also demonstrate a general OAuth2 flow.
See the Github repository on https://github.com/metry-io/metry-oauth-connect and try the demo on http://metry-oauth-connect-demo.s3-website-eu-west-1.amazonaws.com/

### ClientID and ClientSecret
To get started you need to request a `client_id` and `client_secret`. Please contact our support ([support@metry.io](mailto:support@metry.io)) and tell us a bit about your app.

### Metry oAuth 2.0 endpoints
If you decide to roll your own implementation, keep in mind the oAuth endpoints for Metry:

| Description   | Url           |
| ------------- | ------------- |
| Host                 | https://app.metry.io/  |
| oAuth 2.0 Authorize  | https://app.metry.io/oauth/authorize  |
| oAuth 2.0 Token      | https://app.metry.io/oauth/token  |

## List responses and pagination

All lists are paginated, and shows 50 items per request. You can advance to next pages by adding query params **skip** and the number
of items you want to skip (typically 50, 100, 150 and so on).

## Error handling

The Metry API attempts to return appropriate HTTP status codes for every request. A 2xx status code indicates success, whereas a 4xx or 5xx status code indicates an error.

### Status codes
| Status code   | Description  |
|---|---|
| 200  | Success  |
| 400 | Validation error: An accompanying error message will explain further |
| 401  | Authentication error: The oAuth credentials were missing, incorrect or expired  |
| 403  | Authentication error: The current authenticated user has no access to this resource  |
| 404  | Invalid endpoint: The endpoint requested is invalid or the resource requested, such as a meter, does not exists.   |
| 405  | The HTTP method used for this endpoint is invalid. |
| 5xx  | An error has occurred within Metry.io and the request couldn’t be completed. Metry.io has been notified about the problem |
| 503 | We're experiencing temporary server issues. Please try again |

### Error messages
When an API request fails, it will be accompanied with an explanatory message. For example, an error might look like this:
```
{
code: 404,
message: "Resource not found"
}
```

### Future compatibility
For future compatibility, please interpret the following HTTP status code ranges:

**200–299** as success<br>
**400–499** as client request errors<br>
**500–599** as server errors

# Group Accounts

An account represents a person, buisiness or orginaization that uses the Metry platform.

## Accounts resource [/accounts/{id}]

### Get an account [GET]

Tip: Use alias "me" to reference the currently authorized user.

+ Parameters
    + id (required, string, `5543677f37c6b65f008b46e4`) ... The id of the account to get info about

+ Request

    + Headers

            Authorization: Bearer 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e


+ Response 200 (application/json)

    + Attributes (Account)

    + Body

            {
                "code": 200,
                "message": "OK",
                "profiling": null,
                "data": {
                    "_id": "5543677f37c6b65f008b46e4",
                    "name": "Example account",
                    "username": "someone@example.com",
                    "sub_accounts_count": 1,
                    "sub_accounts": [
                        {
                            "_id": "565f0344c6db1f57008b5573",
                            "name": "Demo - Private Customer",
                            "username": "utility-private-customer@metry.io",
                            "sub_accounts_count": 0,
                            "sub_accounts": [],
                            "created": "2015-12-02T14:42:12+0000",
                            "locale_string": null,
                            "language": "en",
                            "is_organization": false,
                            "entity_type": null
                        }
                    ],
                    "created": "2015-05-01T11:46:07+0000",
                    "locale_string": null,
                    "language": "en",
                    "is_organization": false,
                    "entity_type": null
                }
            }

# Group Meters

A meter represents a physical device that measures consumption from a utility such as heat, cooling or electricity.
Each meter has a holder who can **assign** or **share** the meter to other accounts.

Assigned or shared meters references a root meter, and it is good practice to use the
**root._id** as unique identifier in your own applications. The **_id** field only represents the
reference itself, and is used to updated meta-information about the meter such as name, tags or if the meter is active or not.

## Meter [/meters/{id}]

+ Parameters
    + id (string, required) - Id of the meter.


### Get a meter [GET]

+ Parameters
    + id: 5825c85d22c8aa00606b9dd5 (required, string) - The id of the account to get info about

+ Request

    + Headers

            Authorization: Bearer 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

+ Response 200 (application/json)
    + Attributes (Meter)
    
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "profiling": null,
                "data": {
                    "_id": "5825c85d22c8aa00606b9dd5",
                    "ean": "1200004",
                    "name": null,
                    "holder": {
                       "_id": "5543677f37c6b65f008b46e4",
                        "name": "Example account",
                        "username": "someone@example.com"
                    },
                    "root": {
                        "_id": "577fdd960c8a335c008b466f",
                        "holder": {
                            "_id": "577fd0170c8a335c008b45fe",
                            "name": "Rob Harvey Utility Company"
                       }   
                    },
                    "assigner": {
                        "_id": "577fd0170c8a335c008b45fe",  
                        "name": "Rob Harvey Utility Company",
                        "username": null
                    },
                    "created": "2016-11-11T13:32:13+0000",
                    "children": [],
                    "address": "Gränsvägen 12B",
                    "timezone": "Etc/GMT-1",
                    "control_level": "shared",
                    "generation": 1,
                    "tags": [],
                    "box": "active",
                    "revoked": false,
                    "metrics": [
                        "energy"
                    ],
                    "type": "cooling",
                    "consumption_stats": {
                        "energy": {
                            "month": {
                                "count": 22,
                                "sum": 659440,
                                "max": 92560,
                                "last": 201610,
                                "min": 9730,
                                "first": 201501
                            },
                            "hour": {
                                "first": null,
                                "last": null,
                                "sum": null,
                                "max": null,
                                "min": null,
                                "count": 0
                            },
                            "day": {
                                "first": null,
                                "last": null,
                                "sum": null,
                                "max": null,
                                "min": null,
                                "count": 0
                            }
                        }
                    },
                    "readings_stats": null,
                    "has_active_complaints": false,
                    "representation": null,
                    "open_channel_ids": null
                }
            }

## Meters collection [/meters{?box,name,address,tags,control_level,generation,type,metrics,ean,representation}]

You can list all meters accessible by the authenticated user.

### Filtering results
You can filter results by adding query params, for instance:

    .../meters?box=active

... will only list active meters.

You can add multiple query params. For **dates and numbers** you can use greater than and less than characters. For instance

    .../meters?consumption_stats.energy.month.last=<201503&box=active

This filter will only list *active* meters where *last month value is before March 2015*.

**NOTE!** Query params that are not recognized will be *silently ignored*, so make sure you spell them correctly!


### List meters [GET]

+ Parameters
    + address: Kungsgatan 2 (optional, string) - Meta information.
    + name: Home sweet home (optional, string) - Meta information.
    + `control_level`: subscribed (optional, enum [string])
    + generation: 1 (optional, number) - Integer that represents the current meters level in a tree structure, gen 0 (root meter) is held by the owner of the meter, gen 1 is the subscribed meter held by company or person that's energy usage is recorded by the meter, gen 2 is a shared meter which has been shared with a 3rd party.
    + tags: bar (optional, array[string]) - Meta information.
    + box: active (optional, enum [string]) - - When a Metry robot finds a new meter it places it in the customer's inbox, the customer is then able to move the meter to ignored or active.  Metry only collects consumption data for meters placed in active.
    + type: electricity (optional, enum) - What type of consumption the meter represents.
    + metrics: energy (optional, enum [string]) - Which metrics the meter is recording data in.
    + ean: 7501054530107 (optional, number) - An International Article Number that uniquely identifies the physical meter
    + representation: production (optional, enum [string]) - Does this meter record energy consumption or production

+ Request
    + Headers
    
            Authorization: Bearer 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

+ Response 200 (application/json)
    + Attributes (Meter)

# Group Trees

Trees are a way to structure meters in a hierarchical structure. The implementation is intended to be as flexible as possible so that users and applications can group meters however needed, for instance, by cities, properties, buildings, and other logical groups. Consumption requests can then be made on tree nodes to get the aggregated consumption or temperature of the underlying meters.

This feature requires developer plan Ultimate. <a href="https://metry.io/sv/utvecklare/" target=_blank>Contact us to upgrade.</a>

## Create [/trees]

Create a new tree or add tree nodes to an existing tree. 

This requires an OAuth client with the the scope `write_trees`.

### Create tree node [POST]


 
+ Request (application/json)

    + Attributes
        + parent: null (string) - The _id of the parent if adding as a child to another node in an existing tree
        + name: Kungsgatan (string) - A name to put on the tree node
    
+ Response 200 (application/json)
    + Attributes (Tree)
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "profiling": [],
                "data": {
                    "_id": "5927d86628592700964a702c",
                    "name": "user node",
                    "factor": 1,
                    "children": [],
                    "app_custom_fields": [],
                    "parent": null,
                    "meters": [],
                    "location": null,
                    "open_channel_ids": null
                }
            }

## Modify a Tree node [/trees/{tree_id}]

Update or delete a tree node. Application specific data can be specified on the tree node as custom fields which will only be available in your application. 

+ Parameters
    + tree_id: 5927d86628592700964a702c (string) - The _id of the tree node

### Update tree node [PUT]

+ Request

    + Attributes
        + parent: null (string) - The _id of the parent if adding as a child to another node in an existing tree
        + name: Kungsgatan (string) - A name to put on the tree node
        + `app_custom_fields`: (object) - Custom key value pairs set by your application. 

+ Response 200 (application/json)
    + Attributes (Tree)
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "count": 1,
                "skip": 0,
                "limit": 50,
                "data": [{
                    "_id": "5927dd3b28592700ad6185dc",
                    "name": "user node",
                    "factor": 1,
                    "app_custom_fields": {},
                    "parent": null,
                    "meters": [],
                    "location": null,
                    "open_channel_ids": null
                }]
            }

### Delete tree node [DELETE]

+ Response 200 (application/json)
    + Attributes (Tree)
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "count": 1,
                "skip": 0,
                "limit": 50,
                "data": [{
                    "_id": "5927dd3b28592700ad6185dc",
                    "name": "user node",
                    "factor": 1,
                    "app_custom_fields": [],
                    "parent": null,
                    "meters": [],
                    "location": null,
                    "open_channel_ids": null
                }]
            }

## Add meters to a tree node [/trees/{tree_id}/meters]
Add the user's meters to tree nodes so consumption requests can be made to a node to aggregate values for any meters on that tree node.

Note that to request consumption values for a tree node, every meter added in the tree needs to be in box `active`.

+ Parameters
    + tree_id: 5927d86628592700964a702c (string) - The _id of the tree node

### Add a meter [POST]

+ Request (application/json)

    + Attributes
        + `_id`: 5927dd3b28592700ad6185dc (string) - The _id of meter to add.

+ Response 200 (application/json)
    + Attributes (Tree)
    + Body
        
        {
            "code": 200,
            "message": "OK",
            "profiling": [],
            "data": {
                "_id": "592bc4d328592700c26532bf",
                "name": "Kungsgatan",
                "factor": 1,
                "app_custom_fields": [],
                "parent": null,
                "meters": [{
                    "_id": "592bc4d328592700c26532c0",
                    "root_id": "592bc4d328592700c26532c0",
                    "factor": 1
                }],
                "location": null,
                "open_channel_ids": null
            }
        }

## remove a meter from a Tree node [/trees/{tree_id}/meters/{meter_id}]

Remove a meter reference from a tree node

+ Parameters
    + tree_id: 5927d86628592700964a702c (string) - The _id of the tree node
    + meter_id: 5927d86628592700964a702d (string) - The _id of an addedd meter


### Remove a meter [DELETE]

+ Response 200 (application/json)

## Trees collection [/trees{?parent,app_custom_fields}]

List all of a user's trees or get a subtree by including the query parameter `parent` as the **_id** of the parent node.

It is also possible to filter tree nodes based on app specific custom fields using the query parameter syntax `app_custom_fields.{your_field}={your_value}`

### List trees [GET]

+ Parameters
    + parent: 5927d86628592700964a702c (string) - The _id of the nodes parent. Use `null` to only get root nodes. Then use the _id of each root node to get the nodes below it.

+ Response 200 (application/json)
    + Attributes (Tree)
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "count": 1,
                "skip": 0,
                "limit": 50,
                "data": [{
                    "_id": "5927dd3b28592700ad6185dc",
                    "name": "Kungsgatan",
                    "factor": 1,
                    "app_custom_fields": [],
                    "parent": null,
                    "meters": [],
                    "location": null,
                    "open_channel_ids": null
                }]
            }
           
           
           


# Group Consumption

Consumption is the use of energy or other metrics for a meter or a tree node. Consumption is available by the granularities month, day and hour, however, it is important to understand that the availability differs depending on the meter/node and other external factors.


## Get Consumption [/consumptions/{id}/{granularity}/{period}?metrics={metrics}]

We support the following **granularities**: hour, day and month, but we cannot guarantee that it is available for every meter.

The following **metrics** are supported: 

* energy (kWh)
* flow (m<sup>3</sup>)
* return_temperature (°C)
* temperature (°C). 

**Note:** Metric availability varies between meters/nodes.

The response with consumption **values will always match your query**. Missing values are replaced with <code>NULL</code>

Each period in the response will have a `start_date` and `end_date` property. Note that these are UTC dates, so depending on the meter's time zone they may appear to not match the date specified in the `period` input parameter. The `period` parameter is always interpreted using the meter's local timezone.


### Meter [GET]

+ Parameters
    + id: 5825c6f6de22ae00632e86f3 (required, string) - The id of the meter to get consumption data for
    + granularity: month (required, string) - The granularity to get consumption data for (month, day or hour)
    + period: `2015-201511` (required, string) -  Defines what period to fetch data for. You may enter any combination of YYYY, YYYYMM or YYYYMMDD as long as the start date is before the end date. You may also leave out the end date, if you, for instance, would like to just fetch data for 2013. All date will be interpreted using the meters time zone.
    + metrics: energy (optional, string) - Limits the response to one or more metrics separated by commas. If not specified, default metric is returned.

+ Request
    + Headers
    
            Authorization: Bearer 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

+ Response 200 (application/json)
    + Attributes (Consumption)
    + Body

            {
                "code": 200,
                "message": "OK",
                "data": [
                    {
                        "periods" : [
                            {
                                "start_date" : "2013-01-01T00:00:00+0001",
                                "end_date" : "2013-11-30T23:00:00+0001",
                                "energy": [1,2,3,4,5,6,7,8,9,10,11],
                                "flow": [1,2,3,4,5,6,7,8,9,10,11]
                            }
                        ],
                        "meter_id": "5825c6f6de22ae00632e86f3"
                    }
                ]
            }


### Tree Node [GET]

+ Parameters
    + id: 5825c6f6de22ae00632e86f3 (required, string) - The id of the tree node to get consumption data for. Only  aggregated consumption for meters wehre box is active are included in the sum.
    + granularity: month (required, string) - The granularity to get consumption data for (month, day or hour)
    + period: `2015-201511` (required, string) -  Defines what period to fetch data for. You may enter any combination of YYYY, YYYYMM or YYYYMMDD as long as the start date is before the end date. You may also leave out the end date, if you, for instance, would like to just fetch data for 2013. All date will be interpreted using the meters time zone.
    + metrics: energy (optional, string) - Limits the response to one or more metrics separated by commas. If not specified metric energy is returned.

+ Request
    + Headers
    
            Authorization: Bearer 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e

+ Response 200 (application/json)
    + Attributes (Consumption)
    + Body

            {
                "code": 200,
                "message": "OK",
                "data": [
                    {
                        "periods" : [
                            {
                                "start_date" : "2013-01-01T00:00:00+0001",
                                "end_date" : "2013-11-30T23:00:00+0001",
                                "energy": [1,2,3,4,5,6,7,8,9,10,11],
                                "flow": [1,2,3,4,5,6,7,8,9,10,11]
                            }
                        ],
                        "meter_id": "5825c6f6de22ae00632e86f3"
                    }
                ]
            }
            

## Multiple meters [/consumptions/multi/{granularity}/{period}?metrics={metrics}]

### Meter by meter  [GET]

+ Parameters
    + granularity: month (required, string) - The granularity to get consumption data for (month, day or hour)
    + period: `2015-201511` (required, string) -  Defines what period to fetch data for. You may enter any combination of YYYY, YYYYMM or YYYYMMDD as long as the start date is before the end date. You may also leave out the end date, if you, for instance, would like to just fetch data for 2013. All date will be interpreted using the meters time zone.
    + meters: `5825c6f6de22ae00632e86f3,5825c76920fe9b006308e412` (required, array[string]) - An array of meters to return consumptions data for
    + metrics: energy (optional, string) - Limits the response to one or more metrics separated by commas. If not specified metric energy is returned.

+ Request
    + Headers
    
            Authorization: OAuth 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e
            
+ Response 200 (application/json)
    + Attributes (Consumption)
    + Body

            {
                "code": 200,
                "message": "OK",
                "profiling": null,
                "data": [
                    {
                        "meter_id": "526f7711a158318a068b475f",
                        "periods": [
                            {
                                "energy": [
                                    null,
                                    57.037,
                                    68.031
                                ],
                                "start_date": "2017-05-31T23:00:00+0000",
                                "end_date": "2017-08-31T22:59:59+0000"
                            }
                        ]
                    },
                    {
                        "meter_id": "56b06f2c81376f5a008b4b23",
                        "periods": [
                            {
                                "energy": [
                                    2369.78,
                                    2236.336,
                                    1488.188
                                ],
                                "start_date": "2017-05-31T23:00:00+0000",
                                "end_date": "2017-08-31T22:59:59+0000"
                            }
                        ]
                    }
                ]
            }
    
## Sum of meters [/consumptions/sum/{granularity}/{period}?metrics={metrics}]

### Sum of meters [GET]

+ Parameters
    + granularity: month (required, string) - The granularity to get consumption data for (month, day or hour)
    + period: `2015-201511` (required, string) -  Defines what period to fetch data for. You may enter any combination of YYYY, YYYYMM or YYYYMMDD as long as the start date is before the end date. You may also leave out the end date, if you, for instance, would like to just fetch data for 2013. All date will be interpreted using the meters time zone.
    + meters: `5825c6f6de22ae00632e86f3,5825c76920fe9b006308e412` (required, array[string]) - An array of meters to return consumptions data for
    + metrics: energy (optional, string) - Limits the response to one or more metrics separated by commas. If not specified metric energy is returned.

+ Request
    + Headers
    
            Authorization: OAuth 9f999b72772410cfb4fe0d4309b5f9dabb01e2fafcd7ba946c6cdc11aa8e
            
+ Response 200 (application/json)
    + Attributes (Consumption)
    + Body

            {
                "code": 200,
                "message": "OK",
                "profiling": null,
                "data": [
                    {
                        "periods": [
                            {
                                "energy": [
                                    2369.78,
                                    2293.373,
                                    1556.219
                                ],
                                "energy_quality": [
                                    0.5,
                                    1,
                                    1
                                ]
                            }
                        ]
                    }
                ]
            }






# Group Readings

Readings are the exact timestamped values for a meter.

## Get readings [/readings/{meter_id}/{period}?metrics={metrics}]

Each period in the response will have a start_date and end_date property. Note that these are UTC dates, so depending on the meter's time zone they may appear to not match the date specified in the period input parameter. The period parameter is always interpreted in the meter's local timezone.

### Reading status
The `status` for a reading value can be `recorded`, `interpolated` or `meter_change`.

* **recorded:** The value has been recorded exactly at the given point.
* **interpolated:** The value is interpolated based on the surrounded recorded values
* **meter_change:** The meter has changed. A meter change reading is the reading that occurred after a meter change.

### Readings blocked
As new readings are stored in Metry, the system automatically tries to find anomalous readings that could suggest that the incoming readings are incorrect.

If an anomaly is found, then the meter attribute `readings_blocked` will be set to `true`. This prevents new consumption values from being calculated from that point forward and that no readings will be interpolated until the meter attribute `readings_blocked` is changed back to `false`.

This attribute is also included in the response when requesting readings as seen in the example response.

Importing readings from Metry when readings are blocked is possible but should be avoided until the user has resolved the issue with the anomalous reading and unblocked readings.

### Get readings for a meter [GET]

+ Parameters
    + meter_id (required, string, `53294e5ae9cada3306001735`) ... The id of the meter to get reading data for
    + period (required, string `2013-201311`) ... Defines what period to fetch data for. You may enter any combination of YYYY, YYYYMM or YYYYMMDD as
    long as the start date is before the end date. You may also leave out the end date, if you, for instance, would like to just fetch data for 2013.
    All date will be interpreted using the meters timezone.
    + metrics (optional, string `energy,flow,power`) ... Limits the response to one or more metrics separated by commas. If not specified metric energy is returned.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "message": "OK",
                "data": [
                    {
                        "periods" : [
                            {
                                "start_date" : "2016-01-01T14:00:00+0001",
                                "end_date" : "2016-01-01T15:00:00+0001",
                                "energy": [
                                    {
                                        "time" : "2016-01-01T14:00:00+001",
                                        "value" : 12345.11,
                                        "status" : "recorded",
                                        "counter" : null
                                    },
                                    {
                                        "time" : "2016-01-01T15:00:00+001",
                                        "value" : 12365.11,
                                        "status" : "interpolated",
                                        "counter" : null
                                    },
                                    {
                                        "time" : "2016-01-01T15:13:00+001",
                                        "value" : 12369.94,
                                        "status" : "recorded",
                                        "counter" : null
                                    }
                                ]
                            }
                        ],
                        "readings_blocked": false,
                        "meter_id" : "53185731df62324818000007"
                    }
                ]
            }


# Group Open Data Channels

Open data channels represent collections of meters and consumption data that can be viewed without requiring authorization.
Via the open channel resource you can see which open channels are available then list the available meters for that channel.  Once the meter ids have been obtained their consumption data can be fetched via the consumption resource.  When requesting data for meters that are part of an open channel no authentication is required

## Open channels [/open_channels?name={name}&granularities={granularities}&metrics={metrics}]

List and filter the available open data channels 

### List open channels [GET]

+ Parameters
    + name: SOLution (optional, string) - the name of the open channel
    + granularities: hour (optional, enum[string]) - the granularities available in the open channel
    + metrics: energy (optional, enum[string]) - the metrics available in the open channel
+ Response 200 (application/json)
    + Attributes (Open Channel)
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "profiling": null,
                "count": 1,
                "skip": 0,
                "limit": 50,
                "next_page": null,
                "previous_page": null,
                "additional_meta": [],
                "data": [
                    {
                        "_id": "5825d2ff6ae4ce006252ee5d",
                        "name": "SOLution",
                        "granularities": [
                            "month",
                            "day",
                            "hour"
                        ],
                        "periods": [
                            "2012-"
                        ],
                        "metrics": [
                            "energy"
                        ]
                    }
                ]
            }
    

## Open channel meters [/open_channels/{id}/meters/{?address,name,generation,type,metrics,representation}]

List and filter the available meters for a given open data channels

### List open channel meters [GET]

+ Parameters
    + id: 5825d2ff6ae4ce006252ee5d (required, string) - The id of the open channel to list meters for
    + address: Kungsgatan 2 (optional, string) - Meta information.
    + name: Bruttomätning villa (optional, string) - Meta information.
    + generation: 1 (optional, number) - Integer that represents the current meters level in a tree structure, gen 0 (root meter) is held by the owner of the meter, gen 1 is the subscribed meter held by company or person that's energy usage is recorded by the meter, gen 2 is a shared meter which has been shared with a 3rd party.
    + type: electricity (optional, enum) - What type of consumption the meter represents.
    + metrics: energy (optional, enum [string]) - Which metrics the meter is recording data in.
    + representation: production (optional, enum [string]) - Does this meter record energy consumption or production
+ Response 200 (application/json)
    + Attributes (Open Channel Meter)
    + Body
    
            {
                "code": 200,
                "message": "OK",
                "profiling": null,
                "count": 1,
                "skip": 0,
                "limit": 50,
                "next_page": null,
                "previous_page": null,
                "additional_meta": [],
                "data": [
                    {
                        "_id": "58248fe1de22ae0062035d1a",
                        "owner": {
                            "_id": "5268c832dedcde9d1d0000df",
                            "name": "Göteborg Energi"
                        },
                        "name": "Konsumtion ingen prod",
                        "timezone": "Etc/GMT-1",
                        "address": "Energigatan 13",
                        "generation": 0,
                        "metrics": [
                            "energy"
                        ],
                        "type": "electricity",
                        "consumption_stats": {
                            "energy": {
                                "hour": {
                                    "count": 27745,
                                    "sum": 47672.922,
                                    "max": 9.76,
                                    "last": 2016103100,
                                    "min": 0,
                                    "first": 2013090100
                                },
                                "day": {
                                    "count": 1156,
                                    "sum": 47671.922,
                                    "max": 127.69,
                                    "last": 20161030,
                                    "min": 4.81,
                                    "first": 20130901
                                },
                                "month": {
                                    "count": 37,
                                    "sum": 46565.792,
                                    "max": 2579.43,
                                    "last": 201609,
                                    "min": 371.22,
                                    "first": 201309
                                }
                            }
                        },
                        "open_channel_ids": [
                            "5825d2ff6ae4ce006252ee5d"
                        ],
                        "representation": "consumption"
                    }
                ]
            }

# Data Structures

## Account (object)
+ `_id`: 55300dc9f82bd8080094a212 (string) - Unique identifier for the account.
+ name: Example account (string) - Name of the user
+ username: someone@example.com (string) - Email, also used as sign in identity.
+ `sub_accounts`: [] (array[Account]) - An array of sub accounts of the current account 
+ created: `2015-05-01T11:46:07+0000` (string) - Date time string when the account was created
+ `locale_string`: `sv-SE` (string) - Locale string representing language and country
+ language: en (string) - Represents the accounts language preference
+ `is_organization`: true (boolean) - Is this an organization account
+ `entity_type`:  person, business, `utility_provider`, `metering_operator`, hardware, landlord, `facility_manager` (enum [string]) - The type of entity that this account represents

## Meter (object)
+ `_id`: 55300dc9f82bd8080094a212 (string, required) - Unique identifier for the meter assigned and shared meters gets a new unique id.
+ holder: (Holder With Username) - An account that is the holder of the meter.
+ root: (object, required) - Reference to the root meter; remains the same for assigned and shared meters.
    + `_id`: 58231f8ec18edcbe1acf8249 (string, required) - Unique identifier root meter.
    + holder: (Holder, required) - An account that is the holder of the root meter.
+ assigner: (Holder With Username) - The account that assigned the meter to it's holder; authorized to revoke access at anytime.
+ created: `2015-05-01T11:46:07+0000` (string) - date time string when a meter was created.
+ children: (array[Child Meter]) - An array of Meters that are children of the current meter.
+ address: Klackvägen 12 (string) - Meta information.
+ timezone: `Etc/GMT-1` (string, required) - Timezone the meter is located in. Used to define consumption aggregation from hour to day.
+ `control_level`: owned, subscribed, shared, manual (enum [string], required) - The level of control the holder has on the meter. "Owned" represents the highest level of control.
+ generation: 1 (number) - Integer that represents the current meters level in a tree structure, gen 0 (root meter) is held by the owner of the meter, gen 1 is the subscribed meter held by company or person that's energy usage is recorded by the meter, gen 2 is a shared meter which has been shared with a 3rd party.
+ name: Pumphuset vid sjön (string) - Meta information.
+ tags: foo, bar (array[string]) - Meta information.
+ box: inbox, ignored, active (enum [string]) - When a Metry robot finds a new meter it places it in the customer's inbox, the customer is then able to move the meter to ignored or active.  Metry only collects consumption data for meters placed in active.  
+ revoked: false (boolean, required) - If revoked the assigner of the meter has decided to deny the holder access, often because the holder's subscription has been canceled by the root holder.
+ type: electricity, heat, cooling, gas,hold to meter  water (enum) - What type of consumption the meter represents.
+ metrics: energy, power, flow  (enum [string]) - Which metrics the meter is recording data in.
+ ean: 7501054530107 (number) - An International Article Number that uniquely identifies the physical meter
+ consumption_stats: (object) - A summary of consumption data for each metric this meter is recording.
+ readings_stats: (object) - A summary of readings data for this meter.
+ has_active_complaints: true (boolean) - is there an active issue open for this meter regarding missing consumption values.
+ representation: consumption, production, `net_consumption`, `net_production`, sensor (enum [string]) - Does this meter record energy consumption or production
+ on_hold: false (boolean) - The holder has decided to set this meter as on hold and exclude it from statistics, if for example it is a new meter that has not yet started to record consumption

## Holder (object)
+ `_id`: 58233c51c18edcbe1acf824f (string, required) - Unique identifier for the account.
+ name: Example holder (string) - Name of the user.

## Holder With Username (Holder)
+ username: someone@example.com (string) - Email, also used as sign in identity.

## Child Meter (object)
+ `_id`: 58231f8ec18edcbe1acf8249 (string, required) - Unique identifier root meter.
+ holder: (Holder With Username) - An account that is the holder of the meter.

## Tree (object)
+ `_id`: 58231f8ec18edcbe1acf8241 (string, required) - Unique identifier tree node. It can be used instead of a meter id to request consumption values. 
+ name: Kungsgatan (string) - A user defined name on the tree node
+ factor: 1 (number) - How much the node's consumption should contribute to the aggregated value.
+ `app_custom_fields`: (object) - Custom fields created by your app. The value of this property depends on what OAuth client the access token used belongs to.
+ parent: 58231f8ec18edcbe1acf8240 (string) - The name of the node's parent in the tree. If it is the root, parent is `null`.
+ location: [20.2282046, 67.854537] (array[number]) - Geographical coordinates of the tree node as longitude and latitude.
+ meters: [] (array[Meter Reference]) - Meters added to the node.  

## Meter Reference (object

## Consumption (object)

## Open Channel (object)
+ `_id`: 5825d2ff6ae4ce006252ee5d (string, required) - Unique identifier for the open channel
+ name: SOLution (string) - the name of the open channel
+ granularities: hour, day, month (enum[string]) - the granularities available in the open channel
+ metrics: energy, power, flow (enum[string]) - the metrics available in the open channel

## Open Channel Meter (object)
+ `_id`: 55300dc9f82bd8080094a212 (string, required) - Unique identifier for the meter assigned and shared meters gets a new unique id.
+ owner: (Holder, required) - An account that is the owner of this meter.
+ name: Pumphuset vid sjön (string) - Meta information.
+ timezone: `Etc/GMT-1` (string, required) - Timezone the meter is located in. Used to define consumption aggregation from hour to day.
+ address: Klackvägen 12 (string) - Meta information.
+ generation: 1 (number) - Integer that represents the current meters level in a tree structure, gen 0 (root meter) is held by the owner of the meter, gen 1 is the subscribed meter held by company or person that's energy usage is recorded by the meter, gen 2 is a shared meter which has been shared with a 3rd party.
+ metrics: energy, power, flow  (enum [string]) - Which metrics the meter is recording data in.
+ type: electricity, heat, cooling, gas, water (enum) - What type of consumption the meter represents.
+ consumption_stats: (object) - A summary of consumption data for each metric this meter is recording.
+ open_channel_ids: (array[string]) - An array of open channel ids that this meter is included in